body{
    background-color: white;
}

#search-button{
    height: 3em;
    width: auto;
    background-color: rgb(206, 206, 206);
    color: rgb(87, 87, 87);
}

#search-button:hover{
    background-color: white;
    color: black;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: left;
    background-color: #F2F2F2;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a{
    display: block;
    font-style: normal;
    padding: 5px;
}